* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: solid black 1px; */
    font-family: 'Roboto', 'Times New Roman', Times, serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}



/* HEADING */
.header {
    background-color: #1F2937;
    color: white;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    justify-content: space-between;
    width: 70%;
    max-width: 100%;
    /* border: solid purple; */
}

.header .links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

.header .links a {
    text-decoration: none;
    color: white;
}

.heading {
    font-size: 24px;
    font-weight: 700;
}



/* INTRO */

.intro {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.intro .content {
    display: flex;
    flex-wrap: wrap-reverse;
}

.content .left {
    /* align-self: inherit; */
    /* min-width: 400px; */
    flex: 1 1 400px;
    padding: 20px 0px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: flex-start;
}
.right {
    flex: 1 1 400px;
    align-self: center;
}

.intro-img {
    min-width: 300px;
    max-width: 100%;
    min-height: 300px;
    object-fit: cover;
}

.left .title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.left .summary {
    font-size: 18px;
    color: #E5E7EB
}

.left a button {
    height: 50px;
    width: 100px;
    background-color: #3882F6;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    font-size: large;
    border: none;
}



/* Characters */

.characters {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.characters .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: solid purple; */
}

.characters-title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    padding: 40px 0;
}

.cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}


.card {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    gap: 10px;
    /* border: solid purple; */
}

.card img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: 50% 0%;
    border: solid #3882F6;
    border-radius: 20px;
}

.card .title{
    font-size: x-large;
    text-align: center;
    font-weight: 400;
}

.card .card-info {
    text-align: justify;
}